.collapsable {
	transition: height 0.45s ease;
	overflow: hidden;
}

.collapsed {
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		height: 45px;
		width: 100%; 
		z-index: 10;
		background: linear-gradient(to top, white 10%, rgba(255, 255, 255, 0) 100%);
	}
}

.collapser {
	display: inline-block;
	font-size: 0.8em;
	text-decoration: none;
	border: 1px solid;
	padding: 1px 3px;
	margin-top: 0.5em;

	&::after {
		display: inline-block;
		font-size: 0.5em;
		vertical-align: middle;
		padding-left: 0.5em;
		content: '\25B2';
	}
}

.collapsed + .collapser-container .collapser::after {
	content: '\25BC';
}
