.search-form {
	width: 60%;
	margin: 0 auto;

	.side-rail & {
		width: 100%;
		margin: 0;
	}

	.home &,
	.archive & {
		margin-top: 30px;
	}
}

.search-label,
.search-submit {
	@extend %screen-reader-item;
}

.search-field {
	font-size: 1.25em;
	width: 100%;
}