.signature {
	font-family: $monospace-stack;
	background: $block-bg;
	border: 1px solid $aside-color;
	padding: 5px 15px;
	font-size: 1em;
	color: $call-color;
	text-indent: -1em;
	padding-left: calc( 15px + 1em );

	a {
		text-decoration: none;
	}
	a:hover,
	a:focus {
		text-decoration: underline;
	}
}

.arg-type {
	font-size: 0.75em;
	color: $keyword-color;
}

.arg-name {
	color: $variable-color;
}

.arg-default {
	color: $comment-color;
}

.arg-hook-func {
	color: $comment-color;
}