body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;

	&.admin-bar {
		padding-top: 46px;
	}

	@media screen and ( min-width: 600px ) {
		&.admin-bar {
			padding-top: 0;
			top: 46px;
		}
	}

	@media screen and ( min-width: 782px ) {
		&.admin-bar {
			top: 32px;
		}
	}
}

.site-header {
	flex-shrink: 0;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 10px 30px;
	background: darken( $accent-color, 15% );
	vertical-align: bottom;
}

.main-nav {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	li ~ li {
		margin-left: 1.5em;
	}
}

main {
	flex: 0 1 100%;
	display: flex;
	overflow: hidden;
	max-width: 100%;

	.single-wp-parser-function &,
	.single-wp-parser-method &,
	.single-wp-parser-hook &,
	.single-wp-parser-class & {
		flex-direction: row-reverse;
	}

	& > * {
		flex: 0 0 auto;
		overflow: auto;
		padding: 30px 30px 10px;
		position: relative;
	}
}

.main-column {
	width: 70%;
	min-height: 100%;

	section {
		margin-bottom: 2em;
	}
}

.side-rail {
	width: 30%;
}

.archive main > .type-section,
.search main > .type-section {
	width: 60%;
	padding: 0;
	margin: 0 auto;
}

.home main > .type-section {
	width: 25%;
	padding: 0;
}

.home .type-post,
.archive .type-post {
	margin-bottom: 3em;
}

.alignleft {
	float: left;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

.aligncenter,
.twitter-tweet {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
}

.alignright {
	float: right;
	margin-left: 1em;
	margin-bottom: 0.5em;
}