body {
	color: $main-color;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h5 {
	color: $accent-color;
	font-weight: normal;
	padding: 0 0 0.2em 0;
	margin: 0 0 0.5em 0;
	line-height: 1;

	& a {
		text-decoration: none;
		color: inherit;
	}

	article & {
		border-bottom: 1px solid $aside-color;
	}
}

h1 {
	font-weight: bold;
}

a {
	color: $link-color;
	transition: color 0.2s ease;

	&:hover {
		color: $link-hover;
	}

	.main-nav & {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

dt {
	font-weight: bold;
}

blockquote {
	border-left: 1px solid $aside-color;
	padding-left: 0.5em;
}

input[type="text"],
input[type="search"] {
	color: $main-color;
	border: 1px solid $accent-color;
	margin: 0 0 1em;
	padding: 0.5em 1em;
}

::placeholder {
	color: $aside-color;
}

.site-title {
	font-size: 1em;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 1.5;

	a {
		font-size: 2em;
		text-decoration: none;
		color: white;
	}
}

article {
	word-break: break-word;
}

.wp-caption {
	max-width: 100%;
	border-bottom: 1px solid $accent-color;
	margin: 0;

	.wp-caption-text {
		font-size: 0.8em;
		color: $accent-color;
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}
}

.more-link {
	@extend .button;
	&::after {
		content: '\25B6';
	}
}

.page-links {
	font-size: 0.8em;
	font-weight: bold;

	.page-link {
		font-size: 1.1em;
		padding: 0.1em 0.3em;
		color: inherit;
	}
}

.archive-nav a {
	@extend .button;
}

.post-categories {
	text-indent: -4.7em;
	padding-left: 4.7em;
	margin: 0.25em 0;
	span {
		font-size: 0.8em;
		font-weight: bold;
	}
	a {
		@extend .button;
		text-indent: 0;
		margin: 0.3em 0;
	}
}

.post-tags {
	@extend .post-categories;
	text-indent: -2.4em;
	padding-left: 2.4em;
}
