<section class="type-section">
	<header>
		<a href="{{link}}" class="type-filter-header header-{{type}}">
			<h2>{{title}}</h2>
		</a>
	</header>
	<ul class="type-section-list">
		<!-- subrendered:listItems -->
	</ul>
</section>
